Package: c.ghh.uyoufix
Name: uYou fix latest
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ghh
Author: Ghh
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
